/* div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  } */

/* 文章卡片效果 */
.card {
    width: 100%;
    background-color: white;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  div.container {
    width: 100%;
    padding: 1%;
    text-align: left;
    /* word-wrap:break-word; */
  }